@import "styles/globals/variables";

a {
    text-decoration: inherit;
    color: $primary-color;
    border-bottom: 2px dotted #999;

    &:hover{
        text-decoration: inherit;
        background-color: rgb(175 126 134 / 14%);
        color: #999;
    }
}


p a{
    background-color: rgb(175 126 134 / 14%);
    color: #fff;
    padding: 0 0.5rem;
}
