@import "@/styles/globals/placeholders";


.block{
    margin: 0 0 2rem 0 !important;;
    flex-direction: row !important;
    width: 100%;
    padding: 1rem !important;
}

.imageLink{
    display: block;
    width: auto;
    width: 25%;

    & img{
        width: 100%;
        object-fit: contain;
        height: auto;
    }
}

.image{
    border-radius: $border-radius;
}

.title{
    margin: 0;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1;
    border-bottom: 1px solid #777;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    color: $white;
    text-align: left;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    width: 75%;
}

.detailLink{
    color: initial;
    margin-bottom: 1rem;

    &:hover{
        text-decoration: none;
    }
}

.priceRow{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.options{
    margin: 0 0 1.5rem 0;
    padding: 0 0 1.5rem 0;
    list-style-type: square;
    columns: 2;
    border-bottom: 5px double #777;

    @media screen and (max-width: $screen-sm){
        columns: 1;
        padding-left: 0;
    }
}

.optionItem{
    line-height: 1.6;
    text-transform: capitalize;
    color: $white;
    text-align: left;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
}

.optionKey{
    flex: 0 auto;
    margin-right: 0.5rem;
}

.optionValue{
    flex: 1 0 0%;
    width: 125px;
    display: inline-block;
    @extend %truncate;
}

.removeBtn{
    background-color: transparent;
    padding: 0 1rem;

    & svg{
        fill: #999;
    }
}

