@import 'styles/globals/placeholders';

.block{
    width: 100%;
}

// .headerRow{
//     @extend %tableHeaderRow;
// }

.row{
    @extend %tableRow;
}

.cell{
    @extend %tableCell;
}

.headerButton{
    background-color: transparent;
    @extend %tableHeaderCell;
    cursor: none;
}


.headerButtonSortable{
    cursor: pointer;
    
    &:hover{
        color: $link_color;
    }
}

.pagination{
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-top: 2rem;
}

.topPagination{
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-bottom: 2rem;
}


