@import 'styles/globals/placeholders';



.block{
    display: flex;
    position: relative;
    border-left: 1px solid $indigo;
    border-top: 1px solid $indigo;
    border-bottom: 1px solid $indigo;
    // flex: 1 0 auto;
    width: 100%;
    // max-width: 600px;
    margin: 0;

    &::before{
        content: "OR";
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        margin-top: calc(-32px/2);
        right: calc(-32px/2);
        background-color: $white;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $indigo;
        border-radius: 99rem;
        font-size: 1.4rem;
        box-shadow: $box-shadow;
        z-index: 1;
    }

    &:last-of-type{
        border-right: 1px solid $indigo;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        &::before{
            display: none;
        }
    }

    &:first-of-type{
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }


    & input{
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;

        &:checked + .button{
            background-color: $indigo;
            color: $white;

            & svg{
                fill: $white;
            }
        }
    }
}

.button{
    color: $indigo;    
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    cursor: pointer;
    width: 100%;

    &:hover{
        // box-shadow: $box-shadow;
        background-color: rgba($indigo, .075);
        // @extend %button-animate;
    }

    & svg{
        fill: $indigo;
        margin-bottom: 1rem;
    }
}

.iconList{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;

    & svg{
        margin: 0
    }
}

.arrowIcon{
    stroke: #000;
    padding-right: 5px;
}
