@import 'styles/globals/variables';
@import 'styles/globals/mixins/font';



.block{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem 2vw;
    margin: 0 0 6rem 0;
    background-color: $dove;

    @media only screen and (max-width: $screen-md ) {
        padding: 2rem;
    }

    @media only screen and (max-width: $screen-sm ) {
        padding: 1rem;
        // flex-wrap: wrap;
        margin: 0 -2rem 4rem -2rem;
    }
}


.hide{
    display: contents;

    @media only screen and (max-width: $screen-sm ) {
        display: none;
    }
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    color: #555;
    width: calc(100%/3);

    @media only screen and (max-width: $screen-sm ) {
        width: 50%;
        padding: 1rem;

        // &:last-of-type{
        //     width: 100%;
        //     flex: 1 0 auto;
        // }
    }
}

.icon{
    flex: 1 0 auto;
    display: flex;
    fill: #555;
}

.text{
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 0 0 1rem;
    margin: 0;
    line-height: 1.4;
    flex-direction: column;

    @media only screen and (max-width: $screen-md ) {
        padding: 1rem 0 0 0;
        flex: 0 0 100%;
        width: 100%;
        height: auto;
        line-height: 1.3;
        text-align: center;
    }
}

.link{
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;

    &:hover{
        text-decoration: none;

        & .icon{
            fill: $link_color;
        }
    }

    @media only screen and (max-width: $screen-md ) {
        flex-direction: column;
    }
}

.sub{
    width: 100%;
    display: block;
    font-size: 1.2rem;
    font-weight: 400;

    @media screen and (max-width: $screen-sm){
        display: none;
    }
}

